/msvc/*

!/msvc/city_builder.sln
!/msvc/city_builder.vcxproj
!/msvc/city_builder.vcxproj.filters
!/msvc/city_builder.vcxproj.user

textures/*

window_placement.bin
heightmap.data
graphics_settings.json
imgui.ini

*.exe
*.dll
*.pdb
*.exp
*.lib

*.ilk
*.iobj
*.ipdb
*.pgc
*.pgd
